---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import Tags from "@components/Tags.astro";

export async function getStaticPaths() {
  const postEntries = await getCollection("blog");
  return postEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { tags, title, description } = entry.data;
const { Content } = await entry.render();
const permalink = `${Astro.url.href}${entry.slug}`;
---

<Layout title={title} description={description} permalink={permalink}>
  <h1>{title}</h1>
  <Content />
  <Tags tagData={tags} />
</Layout>
