---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const title = "Blog";
const description = "Latest blog posts.";
const permalink = `${Astro.url.href}blog`;
const blogEntries = await getCollection("blog");
---

<Layout title={title} description={description} permalink={permalink}>
  <p>Blog page</p>
  <ul>
    {
      blogEntries.map((blogPostEntry) => (
        <li>
          <a href={`/blog/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
